@use "../../assets/scss/Mixins" as *;
.Card__content {
  animation: Enter 0.3s ease-in-out;
  @include flex(column, start, start);
  gap: 2rem;
  width: 100%;
}
.Profile {
  position: relative;
  form {
    gap: 2rem;
    width: 100%;
    @include flex(column, start, start);
    max-height: 64vh;
    overflow-y: auto;
    padding: 1rem;
    &::-webkit-scrollbar{
      display: none;
    }
    @media screen and (max-width : 1200px) {
      max-height: 100%;
    }
  }
  &__SaveBtn {
    padding: 0.7rem 3rem;
    border: 0;
    background: rgb(109, 8, 233);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    justify-self: flex-end;
  }
  &__Btn {
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid rgb(207, 207, 207);
    @include flex(row, flex-end);
  }
  &__Element {
    @include flex(column, start, start);
    gap: 1rem;
    width: 100%;
    background: #FAFAFA;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.31);
    padding: 1rem;
    border-radius: 1rem;
    &__ImgPicker {
      width: 15rem;
      height: 15rem;
      border-radius: 12px;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;

      &__blur {
        @include flex(column);
        gap: 1rem;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.503);
        position: absolute;
        top: 0;
        z-index: 1;
        animation: Enter 0.8s ease;
        svg {
          width: 28px;
          height: 28px;
          path {
            fill: rgb(226, 225, 225);
          }
        }
        p {
          color: rgb(228, 228, 228) !important;
        }
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      input {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
      }
    }
  }
}
.ImgPart {
  @include flex(row, center);
  gap: 3rem;
  @media screen and (max-width : 1200px) {
    flex-direction: column;
  }
  p {
    color: rgb(116, 116, 116);
  }
}
@keyframes Enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
