@use '../../../assets/scss/Mixins' as *;
.TextInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  width: 100%;
  @media screen and (max-width : 1200px) {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
  }
  &__inputBlock{
    width: 100%;
    @include flex(column , start , start);
    gap: 0.5rem;
  }
  &__label {
    font-size: 17px;
    color: rgb(82, 82, 82);
    width: 15rem;
  }
  input {
    width: 80%;
    height: 3rem;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 12px;
    outline: 0;
    padding-left: 1rem;
  }
  .input--active {
    border-color: rgb(103, 34, 232);
    box-shadow: 0 0 20px rgba(103, 34, 232, 0.138);
  }

}
.ErrorMessage{
  color: red;
  font-size: 15px;
}

.input--error{
  input{
    border-color: rgb(246, 34, 77);
    box-shadow: 0 0 20px rgba(215, 31, 71, 0.138);
  }
}