@use '../../../assets/scss/Mixins' as *;
.LinkInput{
  @include flex(column ,start , start);
    gap: 0.2rem;
    width: 100%;
    &__label {
    font-size: 14px;
    text-transform: capitalize;
    font-size: 600;
    color: rgb(95, 95, 95);
   }
    &__input{
      @include flex(row , start) ;
      gap: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      width: 100%;
      border: 1px solid #cacaca;
      background: white;
      svg{
        width: 18px;
        height: 18px;
        path{
            fill : grey;
        }
      }
      input{
        width: 100%;
        border: none;
        outline: none;
      }
    }
}