@use '../assets/scss/Mixins' as *;
.Layout{
    width: 100%;
    height: 100vh;
    @include flex(column , start , start);
    gap: 1rem;
    padding: 1rem;
    background: rgb(243, 243, 243);
    &__content{
        display: grid;
        grid-template-columns: 0.6fr 1fr;
        height: 100%;
        width: 100%;
        gap: 1rem;
        @media screen and (max-width : 1200px) {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1.5fr;
            overflow-y: auto;
        }
        &__chield{
            width: 100%;
            height: 100%;
            background: white;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.085);   
            padding: 2rem;
            padding-bottom:0 ;
        }
    }

}